<style>
  #prod-container{
    width: 100%;
    min-height: 680px;
    align-items: center;
    justify-content: center;
  }
  #left{
    vertical-align: center;
    width: 20%;
  }
  #center{
    vertical-align: center;
    width: 60%;
  }
  #right{
    height: 100%;
    width: 20%;
    padding: 27px;
  }
  #right .row{
    padding-top: 40px;
  }
  #descripcion{
    position: relative;
    height: 25%;
  }
  #precio{

    position: relative;
    height: 25%;
  }
  #comprar{

    position: relative;
    height: 10%;
  }
  #caracteristicas{

    position: relative;
    height: 40%;
    font-size: 12px;
  }
  .img{
    width: 100%;
    height: 150px;
  }
  #comprar button{
    background: #1D3557;
  }
</style>
<div class="row" id="prod-container">
  <div class="col-sm-3" id="left">
    <div class="img"><img src="assets/slides/img1.jpg" class="img-thumbnail" alt="..."></div>
    <div class="img"><img src="assets/slides/img2.jpg" class="img-thumbnail" alt="..."></div>
  </div>
  <div class="col-sm-6" id="center">
    <div><img src="assets/slides/img1.jpg" class="img-thumbnail" alt="..."></div>
  </div>
  <div class="col-sm-3" id="right">
    <div class="row" id="descripcion">
      <p>LAPTOP/NOTEBOOK ASUS VIVOBOOK AMD R7-4700U 2.0GHZ-16GB-512GB SSD-BLACK-15.6"FHD-W10</p>
    </div>
    <div class="row" id="precio">
      <p>$1,199.99</p>
    </div>
    <div class="row" id="comprar">
      <button class="btn btn-primary">Comprar</button>
    </div>
    <div class="row" id="caracteristicas">
      <p>- Pantalla: 15.6"FHD 1920 x 1080 pixels.<br>
        - Procesador: AMD Ryzen 7 4700U 2.0Ghz hasta 4.1Ghz.<br>
        - Gráficos integrada: AMD Radeon™.<br>
        - Memoria Ram: 16GB DDR4 3200 MHz.<br>
        - Disco duro: Estado sólido 512GB M.2.<br>
        - Cámara: 720p .<br>
        - Sistema Operativo: Windows 10 Home.</p>
    </div>
  </div>
</div>
